body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    height:5000px;
    scroll-behavior: smooth;
}

.grid-container{
    display:none;
}

#container{
    position: fixed;
    top: 0;
    left: 0;
    width: 600%;
    height:100vh;
    max-height: 794px;
    display: flex;
    max-width: 9600px;
}

/* Main Menu CSS*/
#containerMainMenu{
    color: #161616;
    width: 100vw;
    height: 100vh;
}

#contentLinks{
    width:55%;
    max-width:900px;
    height:70%;
    max-height:1100px;
    background-color: white;
    text-align:center;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    border-right: 15px solid #e74c3c;
    z-index: 100;
}

#menuHeader{
    margin: 60px auto;
}

#menuHeader h1{
    font-size: 30pt;
    text-align: center;
}

#menuLinks{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width:100%;
    height:100%;
}

#menuLinks a{
    text-decoration: none;
    background-color:#1C1C1C;
    color: white;
    width:60%;
    max-width: 500px;
    margin:8px auto;
    padding:20px 30px;
    font-size: medium;
    font-weight: bold;
    transition: 0.2s;
}

#backHome{
    width:100%;
    height:60vh;
    background-color: #161616;
    border-bottom: 15px solid #2980b9;
    text-align:center;
}

#backHome a{
    color: white;
    border: 4px solid white;
    padding:30px 80px;
    display:inline-block;
    text-decoration: none;
    font-size: 40pt;
    position: relative;
    top:50%;
    transform: translateY(-50%);
    transition: 0.2s;
}

.sectionText{
    color:#1C1C1C;
    margin:50px 150px 60px 50px;
}

.sectionText p{
    line-height: 2;
}

.sectionText h1{
    font-size:34pt;
}

#backHome a:hover{
    background-color: #3498db;
}

#bodyOfText{
    overflow: scroll;
}

#menuLinks a:hover{
    background-color: #2980b9;
    font-size: larger;
}

#menuHeader h1::after{
    content: 'e';
    color: rgba(255, 255, 255, 0);
    background-color: #e74c3c;
    border-radius: 5px;
    width:80%;
    height: 5px;
    margin: -5px auto;
    display:flex;
}

.sectionText::after{
    content: 'e';
    color: rgba(255, 255, 255, 0);
    background-color: #1C1C1C;
    border-radius: 5px;
    width:100%;
    height: 5px;
    margin: 80px auto;
    display:flex;
}
/*End of Main menu CSS*/

#legendGrid{
    display: grid;
    width:100%;
    height:80%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.legendGridTile{
    display: grid;
    width:100%;
    grid-template-columns: 1fr 2fr;
}

#legendGrid h1, img{
    font-size:16pt;
    margin:auto;
}

#container .section{
    position: relative;
    width:100vw;
    height:100%;
    box-sizing: border-box;
    max-width: 1600px;
}

#section1{
    background-image: url("images/section1.png");
}

#section2{
    background-image: url("images/section2.png");
}

#section3{
    background-image: url("images/section3.png");
}

#section4{
    background-image: url("images/section4.png");
}

#section1, #section2, #section3, #section4{
    background-size: 100% 100%;
    background-repeat: repeat-x;
} 

#intro{
    position: relative;
    width:80vw;
    max-width: 1290px;
    height:100%;
    box-sizing: border-box;
    background-color: #161616;
}

#headertitle{
    width:100%;
    height: 40vh;
    max-height: 794px;
    background-image: url("images/headerBack.png");
    background-repeat: no-repeat;
    text-align: center;
    animation: image 15s infinite alternate;
}

#forwardButton{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 20px;
    font-size:64px;
    color: #1C1C1C;
    z-index: 2;
    cursor: pointer;
    display: block;
    transition: 0.2s;
}

#forwardButton:hover{
    color: #E31C25;
}

#headertitle h1{
    margin: 0;
    display: inline-block;
    font-size: 44pt;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#intro .text{
    margin: 40px 90px 30px 40px;
    line-height: 1.8;
    font-size:13pt;
}

#legend{
    font-size: 14pt;
    font-weight:bold;
    position: fixed;
    right:0;
    bottom:0;
    width: 100px;
    height: auto;
    padding:20px 30px;
    background-color:#161616;
    text-align: center;
    cursor: pointer;
    z-index: 2;
    display: block;
    border-left: 4px solid #bdc3c7;
    border-top: 4px solid #bdc3c7;
    transition: 0.3s;
}

#legend:hover{
    background-color: #3498db;
    border-left: 4px solid #2980b9;
    border-top: 4px solid #2980b9;
}

#mySidenav{
    text-align: center;
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
}
  
  /* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#scrollIcon{
    display:flex;
    width:100%;
    text-align: center;
}

#scrollIcon h2{
    margin: 27px auto;
}

#scrollIcon h2 img{
    position: relative;
    top:12px;
}

#mySidenav span{
    z-index: 3;
    font-size:24pt;
    font-weight:bold;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}
  
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#intro .text p::first-letter{
    font-size: 28pt;
    color: #E31C25;
    font-weight: bold;
}

#intro .text p::first-line{
    line-height: 1;
}

#headertitle h1::after{
    content: 'e';
    color: rgba(255, 255, 255, 0);
    background-color: #E31C25;
    width:100%;
    height: 5px;
    margin: -14px 0px;
    display:flex;
    border-radius: 5px;
}

#mySidenav span::before{
    content: 'e';
    color: rgba(255, 255, 255, 0);
    background-color: #818181;
    width:140px;
    height: 5px;
    margin: -14px 0px;
    display:flex;
    position: absolute;
    right:175px;
}

#intro::after{
    content: 'e';
    width: 10px;
    height: 100%;
    background-color: #bdc3c7;
    color: #bdc3c7;
    position: absolute;
    right: 0;
    top: 0;

}

@keyframes image {
    0% {
        background-image: url("images/headerBack.png");
    }
    50%{
        background-image: url("images/headerBack2.png");
    }
    100% {
        background-image: url("images/headerBack3.png");
    }
}

::-webkit-scrollbar {
    display: none;
}

/* Smallest device width */
@media only screen and (max-width: 1024px){
    #contentLinks{
        width: 100%;
        border-bottom:10px solid #e74c3c;
        border-right:0px solid white;
    }
    #menuHeader h1 {
        font-size: 24pt;
        margin: 1.5vh auto
    }

    #menuLinks a {
        font-size: 14pt;
        max-height: 150px;
    }
    #backHome a{
        padding:10px 30px;
        font-size: 20pt;
    }

    #backHome{
        height:40vh;
    }

    .sectionText{
        margin: 10px 50px 20px;
    }

    .sectionText h1{
        font-size:12pt;
        margin: 14px 0;
    }
    
    .sectionText p{
        font-size:8pt;
    }
    .sectionText::after{
        margin: 30px auto;
    }

    /* Timeline page */
    #container{
        display:flex;
    }

}